<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (21st September)</h3>
    <table class="table table-striped">
      <tr> <td>Before starting</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:30-10:00</td>  <td>(Optional) Support for setup and installation</td> </tr>
      <tr> <td>10:00-10:10</td>  <td>Introduction to workshop and Unix Shell</td> </tr>
      <tr> <td>10:10-11:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/02-filedir/index.html">Navigating Files and Directories</a></td> </tr>
      <tr> <td>11:00-11.15</td>  <td>Coffee Break</td> </tr>
      <tr> <td>11:15-12:15</td>  <td><a href="http://swcarpentry.github.io/shell-novice/04-pipefilter/index.html">Working with Pipes and Filters</a></td> </tr>
      <tr> <td>12:15-13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00-13:40</td>  <td><a href="http://swcarpentry.github.io/shell-novice/05-loop/index.html">Loops</a></td> </tr>
      <tr> <td>13:40-13:50</td>  <td>Break</td> </tr>
      <tr> <td>13:50-14:15</td>  <td><a href="http://swcarpentry.github.io/shell-novice/06-script/index.html">Shell Scripts</a></td> </tr>
      <tr> <td>14:15-14:30</td>  <td>Wrap up and finish</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (22nd September)</h3>
    <table class="table table-striped">
      <tr> <td>09:30-10:00</td>  <td>(Optional) Support for setup and installation</td> </tr>
      <tr> <td>10:00-10:10</td>  <td>Introduction to Version Control</td> </tr>
      <tr> <td>10:10-11:00</td>  <td><a href="http://swcarpentry.github.io/git-novice/03-create/index.html">Creating a Repository and Tracking Changes</a></td> </tr>
      <tr> <td>11:00-11.15</td>  <td>Coffee Break</td> </tr>
      <tr> <td>11:15-12:15</td>  <td><a href="http://swcarpentry.github.io/git-novice/05-history/index.html">Exploring History</a></td> </tr>
      <tr> <td>12:15-13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00-13:40</td>  <td><a href="http://swcarpentry.github.io/git-novice/08-collab/index.html">Collaborating</a></td> </tr>
      <tr> <td>13:40-13:50</td>  <td>Break</td> </tr>
      <tr> <td>13:50-14:15</td>  <td><a href="http://swcarpentry.github.io/git-novice/09-conflict/index.html">Conflicts</a></td> </tr>
      <tr> <td>14:15-14:30</td>  <td>Wrap up and finish</td> </tr>
      <tr> <td>After workshop</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
